*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
    /* background-color: #00490b; */
    /* background-color: black; */
}



html{
    font-size: 10git px;
    background: black;
}

h1{
    font-size: 1.9rem;
    text-align: center;
    margin-top: 15px;
    width: auto;
    background-color: #0B3B24;
    /* color: #0B610B; */
    /* background-color: #0B3B24; */
    animation: teclear 3s steps(24), infinite;
}

@keyframes teclear{
    from{
        clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    }

    to{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}



p{
    font-size: 2rem;
}

header{
    width: 100%;
    height: 5rem;
    background-color: #0B3B24;
    position: fixed;
    top: 0;
    z-index: 333;
}

.container{
    width: 96%;
    max-width: 100rem;
    margin: 0 auto;
}

.hero{
    max-width: 114rem;
    height: 40rem;
    background: url("https://c8.alamy.com/zoomses/9/2b852818c44c44e79f03cb3ccad02ea4/b2ykkg.jpg") 
                no-repeat center center / cover;
    margin: 5rem auto;
    box-shadow: 5px 5px 15px black;
    border-radius: 2rem;
}

.cuento{
    width: 100%;
    max-width: 80rem;
    background-color: #0B3B24;
    margin: 0 auto;
    padding: 1.9rem;
    border-radius: 2rem;
    margin-top: -15rem;
    /* box-shadow: 5px 5px 15px black; */
    box-shadow: 0 0 5px rgb(0, 255, 55), 
                0 0 25px rgb(0, 255, 55);
    color: rgb(0, 255, 55);
}

.cuento:hover{
    box-shadow: 0 0 5px rgb(0, 255, 55), 
                0 0 25px rgb(0, 255, 55), 
                0 0 50px rgb(0, 255, 55), 
                0 0 100px rgb(0, 255, 55), 
                0 0 200px rgb(0, 255, 55);
    
}

.cuento h2{
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    /* letter-spacing: 10px; */
    text-align: center;
    background-color: #0B3B24;
}

.cuento p{
    color: rgb(255, 255, 255);
    margin: 10px;
    background-color: #0B3B24;
    text-align: justify;
    font-size: 20px;
}

@keyframes show {
    from{
        opacity: 0;
        scale: 20%;
    }

    to{
        opacity: 1;
        scale: 100%;
    }
}

p {
    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show;

    animation-range: entry 25% cover 50%;
    animation-fill-mode: both;
}

article{
    width: 100%;
    background-color: #0B3B24;
    margin: 3rem 0;
    padding: 3rem 0;

}

article h2{
    font-size: 10px;
    background-color: #0B3B24;
    text-align: center;
    color: rgb(0, 255, 55);
}

footer{
    text-align: center;
    
}

footer p{
    color: rgb(100, 100, 100);
    font-size: 7px;
}